body{
    font-family: Arial, sans-serif;
    background-color: #9acdf0;
    margin: 0;
    padding: 0;
    color: #333;
    align-items: center;
    min-height: 100vh;
   
    display: flex;
    justify-content: center;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
flex-direction: column;

}
#weather-form{
    margin-top: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 10px;
    
}
#city-input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}
#unit-toggle{
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
#weather-result{
    margin-top: 20px;
    text-align: center;
}
title{
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
h1{
    font-size: 36px;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
    color: rgb(14, 13, 2);
}
